.todo-container{
    justify-self: center;
    background: #fff;
    box-shadow: 0 10px 30px rgba(128, 128, 128, 0.5);
    padding: 30px 20px;
    width: 40%;
    border-radius: 10px;
}
.todo-container h1{
    justify-self: center;
}
.todo-container input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    outline: none;
}
.todo-container button{
    padding: 10px 20px;
    border-radius: 10px;
    background: #808080;
    color: #fff;
    border: none;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 5px 0;
    width: 100%;
    
}
li{
    /* border-bottom: 1px solid #808080; */
    background: #fff;
    list-style: none;
    margin-top: 10px;
    color: #000;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 2px 10px;
    width: 100%;
    justify-self: center;
}
@media (max-width: 640px) {
    .todo-container{
        width: 90%;
    }
}